@font-face {
    font-family: 'RobotoFlex';
    src: url("assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 400;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'RobotoFlex', sans-serif;
    display: flex;
    min-width: 0;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    color: #4d2323;
    background: grey;
}

.body-wraper{
    overflow: hidden;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #4d2323
}

a:hover {
    text-transform: uppercase;
}

/*------------ Header-----------*/

.container {
    margin: auto;
    max-width: 1440px;
    box-shadow: 0 0 20px black;
    background: white;
}

.header-container {
    height: 60px;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 20px black;
    background: white;
    position: relative;
    
}

.header__burger-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;

}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    left:5px;
    background-color: black;
    display: block;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(103 103 103);
}

.header__burger-btn span:nth-child(1) {
    
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(2) {
   
}

.header__burger-btn span:nth-child(3) {
  
    transform: translateY(10px);
}

/* Крестик */

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    background-color: #ffff;
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    background-color: #ffff;
}

.header.open .nav-link {
    color: #fff;
    text-shadow: 2px 2px #000000;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 16px 0;
}

.nav-link {
    padding: 0 30px;
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}

.nav-list a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-list a:hover {
    color: #350404;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(5, 26, 37, 0.8);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px 80px 80px;
    min-width: 0;
}

.section {
    width: 50%;
    margin-top: 20px;
}

.section--update {
    padding-left: 100px;
}

.kurs_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.section-courses {
    width: 45%;
}

@media (max-width: 1265px) {
    
    

    .body-wraper {
        font-size: 60%;
    }
    
}



@media (max-width: 918px) {

    .header__burger-btn {
        display: block;

    }

    .nav{
        position: absolute;
        right: -350px;
        top: 0;
        width: 350px;
        padding: 45px 20px 20px 20px;
        background-color: grey;
        visibility: hidden;
        transition: transform .5s, vasibility .5s;
        will-change: transform;
        
    }

     .nav-list {                           /*    menu-list! */
        display: block;
        margin: 22px 0;
        padding-left: 20px;
    
    }            

    .nav-link {                            /* menu-link*/
        
        font-size: 25px;
        display: block;
        padding: 5px;
    }
    
    .header.open .nav{
        transform: translate(-100%);
        visibility: visible;
    }

    .section {
    width: 100%
    }


}             

/* @media (max-width: 990px) {
    .section {
        width: 100%;
    }
} */

.foto {
    width: 350px;
    height: 400px;
    box-shadow: inset 0px 0 30px rgb(103 87 85);
}

/*----------------Footer-------------*/

.footer-container {
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(29, 23, 23, 0.801);
    padding-left: 80px;
}

.footer-list {
    color: rgba(32, 27, 27, 0.801);
    padding: 0 10px;
    text-decoration: none;
}

.fa {
    padding: 10px;
    color: rgb(15, 46, 13);
}

.github {
    background: url(assets/svg/logo_rs_text.svg) no-repeat;
    background-size: contain;
    height: 50px;
    width: 70px;

}

.link-courses {
    text-decoration: none;
    color: #4d2323;
    transition: color 0.9s, text-shadow 0.6s;
}

.link-courses:hover {
    color: #544040;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: rgb(84, 67, 92);;
box-shadow: 0 5px 0 0 #4c1717;
}

.my-contacts {
    text-decoration: none;
    
    color: #4d2323;
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
}

.my-contacts:hover {
    color: #510a0a;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(5, 26, 37, 0.8);
}
/* Слайдер Swiper */

.certificates__content {
    max-width: 1300px;
    width: 100%;
}

.image-slider {
    padding: 50px 0 70px 0;
    min-width: none;
}

.image-slider__image {
    text-align: center;
}

.image-slider__image img {
    max-width: 68%;
}

/* Стрелки */

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #4d2323;
    font-size: 70px;
}

/* Пагинация */

.image-slider .swiper-pagination {
    bottom: 0;
}

/* Буллеты */

.image-slider .swiper-pagination-bullet {

    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #4d2323;
}


/* finish */